<div class="contact-footer" [ngClass]="getDark() == true ? 'bg-dark-mode' : 'bg-light-mode'">
  <div class="container">
    <h3 class="contact-title">Contattami</h3>
    <ul class="contact">
      <li class="contact-item" (click)="currentItem('mail')">
        <div
          class="contact-card"
          [ngClass]="mail == true ? 'contact-card-zoom' : ''"
          
        >
          <p *ngIf="!mail">Scrivimi una mail!</p>
          <span>
            <i
              [ngClass]="mail ? 'mail' : ''"
              class="fa-regular fa-envelope-open contact-icon"
            ></i>
          </span>
          <a class="clicca-mail" *ngIf="mail" href="mailto:art@rinolanzo.it">
            To.rino11<span>&#64;</span>rinolanzo.it
          </a>
          <p *ngIf="!mail" class="contact-item-title">E-mail</p>
          <i *ngIf="mail" class="fa-regular fa-hand-pointer hand-click"></i>
        </div>
      </li>

      <li class="contact-item">
        <div
          class="contact-card"
          [ngClass]="instagram == true ? 'contact-card-zoom' : ''"
          (click)="currentItem('instagram')"
        >
          <p *ngIf="!instagram" >Il mio profilo!</p>
          <span>
            <i
              [ngClass]="instagram ? 'instagram' : ''"
              class="fa-brands fa-instagram contact-icon"
            ></i>
          </span>
          <a
            class="clicca-insta"
            *ngIf="instagram"
            href="https://instagram.com/to.rino11?igshid=ZzN2ZnB4bGJmaWZ6"
            target="_blank"
          >
            <span>&#64;</span>to.rino11
          </a>
          <p *ngIf="!instagram" class="contact-item-title">Instagram</p>
          <i *ngIf="instagram" class="fa-regular fa-hand-pointer hand-click"></i>
        </div>
      </li>

      <li class="contact-item">
        <div
          class="contact-card"
          [ngClass]="location == true ? 'contact-card-zoom' : ''"
          (click)="currentItem('location')"
        >
          <p *ngIf="!location">Vieni a trovarmi!</p>
          <span>
            <i
              [ngClass]="location ? 'location' : ''"
              class="fa-solid fa-location-dot contact-icon"
            ></i>
          </span>
          <a
            class="clicca-loca"
            *ngIf="location"
            href="https://maps.app.goo.gl/waowKDayXcLwKwxs8"
            target="_blank"
          >
            Torino (TO)
          </a>
          <p *ngIf="!location" class="contact-item-title">Map</p>
          <i *ngIf="location" class="fa-regular fa-hand-pointer hand-click"></i>
        </div>
      </li>

      <li class="contact-item">
        <div
          class="contact-card"
          [ngClass]="phone == true ? 'contact-card-zoom' : ''"
          (click)="currentItem('phone')"
        >
          <p *ngIf="!phone">Chiama!</p>
          <span>
            <i
              [ngClass]="phone ? 'phone' : ''"
              class="fa-solid fa-phone contact-icon"
            ></i>
          </span>
          <a
            class="clicca-phone"
            *ngIf="phone"
            href="tel:+390123456789"
            target="_blank"
          >
            +39 351 580 6484
          </a>
          <p *ngIf="!phone" class="contact-item-title">Telefono</p>
          <i *ngIf="phone" class="fa-regular fa-hand-pointer hand-click"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
