<div class="portfolio">
  <div class="container">
    <div class="title-portfolio">
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
      <h2 class="title">Le mie opere</h2>
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
    </div>

    <div class="image-slider">
      <button
        class="scroll-down-button"
        *ngIf="scrollDownActive && operaDefault"
        (click)="scrollDownToOperaDettaglio()"
        (click)="scrollDownActive = false"
      >
        <i class="fa-solid fa-arrow-down"></i>
      </button>
      <div
        class="prev"
        [ngClass]="this.isAnimatingArrowLeft == true ? 'next-prev-btn' : ''"
        (click)="previusPaginator()"
      >
        <i id="prev-slide" class="fa-solid fa-paintbrush"></i>
      </div>

      <div
        class="chunk fade-in col-sm-9 col-lg-10"
        [ngClass]="this.isAnimating == true ? 'fade-out' : ''"
      >
        <div
          class="image col-sm-4 col-md-4 col-lg-4"
          *ngFor="
            let chunk of chunkedImages[currentIndex];
            let imageIndex = index
          "
        >
          <img
            class="opera"
            [src]="'../../../assets/images/' + chunk.path"
            alt="{{ chunk.path }}"
            (click)="currentOpera(chunk, imageIndex)"
            (click)="scrollDownActive = true"
            (click)="operaSelectionError = false"
            [class.selected]="selectedOpera === chunk.path"
          />
        </div>
      </div>

      <div
        class="next"
        (click)="nextPaginator()"
        [ngClass]="this.isAnimatingArrowRight == true ? 'next-prev-btn' : ''"
      >
        <i id="next-slide" class="fa-solid fa-paintbrush"></i>
      </div>
    </div>

    <ul class="paginator">
      <li class="first-page" *ngIf="firstPage" (click)="firstChunk()">1st</li>
      <li
        *ngFor="let item of paginatorSlice(); let i = index"
        [ngClass]="{
          'paginator-selected': i + paginatorIndex === currentIndex
        }"
        (click)="changePage(i + paginatorIndex)"
      >
        {{ i + 1 + paginatorIndex }}
      </li>
      <li class="last-page" *ngIf="lastPage" (click)="lastChunk()">
        {{ chunkedImages.length }}th
      </li>
    </ul>

    <div class="btn-last-opera">
      <button
        class="btn-reset"
        [class.reset]="isAnimatingLastOpera"
        (click)="lastOpera()"
      >
        Opera Selezionata 
      </button>
      <p *ngIf="operaSelectionError" class="btn-reset-error">
        *Seleziona Opera
      </p>
    </div>

    <div id="opera-dettaglio" *ngIf="operaDefault">
      <button
        class="btn btn-danger"
        (click)="isSelectedOpera()"
        (click)="operaDefault = false"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
      <app-opera-dettaglio></app-opera-dettaglio>
    </div>
  </div>
</div>
