<div class="about">
  <div class="container">
    <div class="title-about">
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
      <h2 class="title">La mia storia</h2>
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
    </div>
    <div class="about-row">
      <div class="col-xs-10 col-sm-10 col-md-4 col-lg-2">
        <app-image-slider-side></app-image-slider-side>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-7 col-lg-10 m-sm-2 about-info">
        <h2>Chi Sono?</h2>
        <p>
          Nato a Sava (TA) il 11/06/1949, Rino Lanzo ha sviluppato fin da
          giovane un forte interesse per l'arte. Membro della Società Promotrice
          delle Belle Arti di Torino dal 1974, ha partecipato attivamente ad
          altre associazioni culturali ed artistiche. Nel 1979, alcune delle sue
          opere sono state utilizzate nell'arredamento scenografico del film
          "Aragosta a colazione", con Enrico Montesano e Claude Brasseur. La sua
          produzione artistica spazia da dipinti ad olio su basi preparate ad
          acquerelli e tecniche materiche miste. Rino Lanzo rappresenta un
          contributo significativo al panorama artistico di Torino e oltre, con
          opere uniche caratterizzate da una maestria creativa.
        </p>
      </div>
    </div>
  </div>
</div>
