<div [ngClass]="darkMode == true ? 'dark-mode' : 'light-mode'">
  <header>
    <app-navbar></app-navbar>
    <app-big-hero id="hero-section"></app-big-hero>
  </header>
  <main>
    <app-about id="about-section"></app-about>
    <app-curriculum id="cv-section"></app-curriculum>
    <div class="galleria container py-5">
      <div class="d-flex justify-content-center flex-column gap-2 align-items-center">
        <a
          href="https://www.salvatorelanzo.eu/"
          target="_blank"
          class="btn text-uppercase"
          [ngClass]="darkMode == false ? 'btn-primary' : 'btn-light'"
        >
          guarda la mia galleria completa
        </a>
        <a href="https://www.salvatorelanzo.eu/" target="_blank">https://www.salvatorelanzo.eu</a>
      </div>
    </div>
  </main>
  <footer>
    <app-contact-footer id="contact-section"></app-contact-footer>
  </footer>
</div>
