<div class="cv">
  <div class="container">
    <div class="cv-title">
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
      <h2 class="title">il mio cv</h2>
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
    </div>

    <div class="cv-content">
      <div class="cv-aside-content col-xs-12 col-md-5 col-xl-3">
        <aside class="cv-aside">
          <img
            class="cv-thumb col-md-12"
            src="../../../assets/images/RITRATTO B.jpg"
            alt="Rino Lanzo"
          />
          <h3 class="cv-name col-md-12">Rino Lanzo</h3>
        </aside>
        <p class="cv-presentation">
          Nato a Sava (TA), il 11/06/1949, fin da giovane ha manifestato un
          interesse per l'arte e, supportato dalla sua famiglia, ha iniziato a
          dipingere come forma di espressione creativa. Dal 1974 è membro della
          Società Promotrice delle Belle Arti di Torino e ha partecipato ad
          altre associazioni culturali ed artistiche. Nel 1979, alcune delle sue
          opere sono state utilizzate nell'arredamento scenografico del film
          "Aragosta a colazione", con Enrico Montesano e Claude Brasseur. La sua
          produzione artistica si manifesta prevalentemente attraverso dipinti
          ad olio su basi preparate, acquerelli e tecniche materiche miste.
        </p>
      </div>

      <div class="col-xs-12 col-md-7 flex-grow-1 px-0 ps-md-4">
        <div class="cv-info">
          <div class="skill col-12">
            <h4 class="job-title">ARTEMISIA</h4>
            <p class="job-date">Novembre 1973</p>

            <p class="job-info">
              Dal novembre del 1973, mi unii con orgoglio all'Aderenza Culturale
              Artistica "ARTEMISIA", un illustre circolo culturale dell'epoca.
              L'affiliazione a questa rinomata associazione ha notevolmente
              arricchito il mio percorso artistico e ha giocato un ruolo
              significativo nella mia crescita nel mondo dell'arte.
            </p>
          </div>

          <div class="skill col-12">
            <h4 class="job-title">Società Promotrice delle Belle Arti</h4>
            <p class="job-date">Gennaio 1974</p>

            <p class="job-info">
              Nel gennaio del 1974, ho avviato un coinvolgente percorso
              artistico iscrivendomi alla Società Promotrice delle Belle Arti di
              Torino. Da allora, ho avuto l'opportunità di esplorare la mia
              passione attraverso diverse mostre in Italia, presentando le mie
              opere e condividendo la mia visione artistica con il pubblico.
            </p>
          </div>

          <div class="skill col-12">
            <h4 class="job-title">Amicizia con Lorenzo Alessandri</h4>
            <p class="job-date">1970-1980</p>

            <p class="job-info">
              Negli anni '70 e '80, ho avuto il privilegio di sviluppare
              un'importante amicizia con Lorenzo Alessandri di Giaveno (TO). La
              nostra relazione è stata segnata da una profonda amicizia e
              reciproca stima artistica. Condividendo idee e confrontando
              frequentemente le nostre opere, ci siamo ispirati reciprocamente
              nel mondo dell'arte.
            </p>
          </div>

          <div class="skill col-12">
            <h4 class="job-title">Scena</h4>
            <p class="job-date">1979</p>

            <p class="job-info">
              Nel 1979, le mie opere furono scelte per impreziosire la
              scenografia del film "Un'aragosta a colazione", con la
              partecipazione di attori di spicco come Enrico Montesano e Claude
              Brasseur. Questo riconoscimento ha rappresentato per me un momento
              significativo come artista nel contesto cinematografico.
            </p>
            <div class="photo">
              <img
                src="../../../assets/images/film.JPG"
                alt=""
                class="photo-thumb"
              />
              <img
                src="../../../assets/images/film2.JPG"
                alt=""
                class="photo-thumb"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
